/* styles/personnages.module.css */
.characterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.characterCard {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 180px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.characterCard img {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.characterCard p {
  margin-top: 10px;
  font-weight: bold;
}
